<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.planet.emily.elite">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApplication"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".com.emily.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".com.emily.login.RegisteredActivity" />
        <activity android:name=".com.emily.login.LoginActivity" />
        <activity android:name=".com.emily.my.CollectionActivity" />
        <activity android:name=".com.emily.my.PublishActivity" />
        <activity android:name=".com.emily.my.GiftActivity" />
        <activity android:name=".com.emily.my.WalletActivity" />
        <activity android:name=".com.emily.my.WelcomeActivity" />
        <activity android:name=".com.emily.my.MyPublishDetailsActivity" />
        <activity android:name=".com.emily.dynamics.GetAdmireActivity" />
        <activity android:name=".com.emily.planet.PlanetActivity" />
        <activity android:name=".com.emily.planet.TicketActivity" />
        <activity android:name=".com.emily.planet.CreatePlanetActivity" />
        <activity android:name=".com.emily.planet.UsuallyProblemActivity" />
        <activity android:name=".com.emily.planet.CreateNextStepActivity" />
        <activity android:name=".com.emily.dynamics.CommentActivity" />
        <activity android:name=".com.emily.my.PlanetSortingActivity" />
        <activity android:name=".com.emily.my.RuleActivity" />
        <activity android:name=".com.emily.my.AboutActivity" />
        <activity android:name=".com.emily.my.SetActivity" />
        <activity android:name=".com.emily.my.HelpActivity" />
        <activity android:name=".com.emily.my.OriginActivity" />
        <activity android:name=".com.emily.planet.CreateIssueActivity" />
        <activity android:name=".com.emily.planet.PlanetProfileActivity"></activity>
    </application>

</manifest>